* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  font-family: "Quicksand", sans-serif;
}

body {
  margin-bottom: 0px;
}

nav {
  background-color: #2f2d52;
  padding: 20px;
}
nav .nav-bar {
  width: fit-content;
  margin: auto;
}

nav .nav-bar li {
  display: inline;
  margin: 0 20px;
}

nav .nav-bar li a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.welcome {
  height: 100vh;
  background-color: #2f2d52;
  box-sizing: border-box;
  background-size: cover;
}

.welcome .welcome-text {
  text-align: center;
  padding: 150px 0;
}
.welcome .welcome-text .welcome-text1 {
  position: relative;
  color: #c0c0ca;
  font-size: 90px;
  animation: welcome-color1 1s;
  animation-iteration-count: 1;
}

.welcome .welcome-text .welcome-text2 {
  position: relative;
  font-size: 90px;
  color: #eaf1f9;
  animation: welcome-color2 2s;
  animation-iteration-count: 1;
}

@keyframes welcome-color2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes welcome-color1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about {
  width: auto;
  height: 100%;
  background-color: darkslateblue;
  box-sizing: border-box;
}

@keyframes about-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #85bd76;
  padding: 30px;
}

.about .about-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 80px;
}

.about .about-description .hi {
  font-weight: bold;
  font-size: larger;
}

.about .about-description .role {
  font-size: smaller;
  color: rgba(255, 255, 255, 0.5);
}

.about .about-description img {
  border-radius: 20px;
}

.about .about-description p {
  width: 50%;
  height: fit-content;
  text-align: right;
  padding-right: 20px;
}

.about .about-history {
  position: relative;
  margin-right: 20px;
  animation: about-animation 1s;
  animation-iteration-count: 1;
  float: right;
}

.about .about-history table {
  text-align: center;
}

.about .about-software {
  position: relative;
  width: 50%;
  animation: about-animation 2s;
  animation-iteration-count: 1;
}

.about .about-software img {
  object-fit: contain;
  width: 50%;
  height: 50%;
}

th {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

td {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

table {
  height: min-content;
  padding-bottom: 20px;
}

.clear {
  clear: both;
}

.portofolio {
  background-color: #2f2d52;
}

.portofolio .portofolio-preview {
  background-color: #34526f;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 25px;
  animation: portofolio-bg 3s;
  animation-iteration-count: 1;
}

@keyframes portofolio-bg {
  0% {
    background-color: black;
  }

  50% {
    background-color: #124913;
  }

  100% {
    background-color: #34526f;
  }
}

.portofolio .portofolio-preview h2 {
  padding: 15px;
}

.portofolio .portofolio-preview ul img {
  height: 100%;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.portofolio .portofolio-preview img:hover {
  transform: scale(1.1);
}

.portofolio .portofolio-preview span {
  display: inline-block;
}

.contact {
  position: relative;
  box-sizing: border-box;
  background-color: #2f2d52;
}

.contact form {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.contact input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid wheat;
  width: 100%;
  outline: none;
}

.contact textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid wheat;
}

.contact button {
  padding: 10px 20px;
  border: none;
  background-color: #85bd76;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
}

.contact button:hover {
  box-shadow: 0px 0px 5px black;
  transform: scale(1.05);
}

/* tablet */
@media only screen and (min-width: 321px) and (max-width: 768px) {
  body,
  html {
    overflow-x: hidden;
  }

  nav .nav-bar li {
    display: inline;
    margin: 0 20px;
    font-size: 15px;
  }

  .welcome .welcome-text .welcome-text1,
  .welcome .welcome-text .welcome-text2 {
    font-size: 48px;
  }

  .welcome {
    height: 92vh;
  }

  .about {
    height: 160vh;
  }

  .about .about-description {
    margin-left: 80px;
  }

  .about .about-history table {
    transform: translate(0, 750px);
    position: relative;
  }

  th,
  td {
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact {
    height: 100vh;
  }
}

/* smartphone */
@media only screen and (min-width: 320px) and (max-width: 426px) {
  html,
  body {
    overflow-x: hidden;
  }

  nav .nav-bar li a {
    margin: 0 5px;
    width: 100%;
    font-size: 10px;
  }

  .welcome {
    height: 90vh;
  }

  .welcome .welcome-text .welcome-text1,
  .welcome .welcome-text .welcome-text2 {
    font-size: 27px;
  }

  .about .about-description p {
    font-size: 12px;
  }

  .about .about-description img {
    height: 50%;
    width: 50%;
  }

  .about .about-description {
    margin: 15px;
  }

  h3 {
    font-size: 25px;
  }

  th,
  td {
    font-size: 15px;
  }

  .about {
    height: fit-content;
  }

  .about .about-software img {
    width: 100%;
    height: 100%;
  }

  .about .about-history table {
    display: flex;
    transform: translate(0, 5%);
  }

  .portofolio .portofolio-preview ul img {
    width: 80%;
    height: 80%;
  }

  .contact {
    height: fit-content;
  }

  .contact button {
    padding: 5px 10px;
  }
}
